@viewport {
	zoom:  1.0;
	width:  extend-to-zoom;
}

* {
	box-sizing: border-box;
}

html, body {
	background: #caffb9;
	font-family: 'Jost', sans-serif;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-between;
	text-align: center;
	height: 100vh;
	max-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 100%;
}

canvas {
	margin: 0 auto;
	max-width: 210px;
	max-height: 240px;
	width: 80%;
}

footer {
	background: rgb(82, 101, 52);
	align-self: flex-end;
	border-top: solid 1px #C0AB36;
	width: 100%;
	height: 30%;
}

/* tipografia */
.titulo-jogo {
	color: #526534;
	font-size: 3rem;
	font-weight: 400;
	letter-spacing: 3px;
}

.linhas {
	color: #2E3226;
	font-size: 3rem;
}

@media screen and (min-width: 768px){
	.linhas {
		font-size: 4rem;
	}
}

.letras-incorretas {
	color: #73805a;
	font-size: 1.15rem;
	border: 1px solid #73805a;
	border-radius: 4px;
	margin: 0 auto;
	padding: 0.3em;
}

.mensagem-final {
	color: #526534;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: 1.2px;
}

.palavra-correta-chances {
	font-size: 1.25rem;
	color: #526534;
}

.footer-info {
	color:  rgba(251, 250, 228, 0.98);
	font-family: "EB Garamond", serif;
	font-size: 1.15rem;
	font-weight: 400;
	letter-spacing: 1.2px;
	line-height: 1.6;
	list-style: none;
	padding: 2.5em;
}

.footer-enviar-email {
	color:#A7AE9C;
}

.footer-enviar-email:hover,
.footer-enviar-email:focus
 {
	 color: #cb832a;
}

/* botões */
.btn-principal {
	background: #719E2F;
	color: #FFF;
	cursor: pointer;
	font-family: 'Jost', sans-serif;
	font-size: 1.5rem;
	font-weight: 500;
	letter-spacing: 2px;
	border: 2px outset #B6AF40;
	border-radius: 6px;
	margin: 0 auto;
}

.btn-principal:hover,
.btn-principal:focus {
	background-color: #ca7003;
	color: #d2d2d2; 
	transition: 1s;
}

.btn-letras {
	background-color: #719E2F;
	color: #FFF;
	font-family: "Josefin Sans", sans-serif;
	border: 0;
	border-radius: 5px;
	padding: 0.8em;
	margin: 0.1em;
}

.btn-letras:hover,
.btn-letras:focus {
	background-color: #A7AE9C;
	color: #1a8004;
}

@media screen and (min-width: 768px){
	.btn-letras {
		font-size: 1rem;
	}

}

.btn-selected {
	background-color: #ca7003;
	color: #d2d2d2; 
}

/* layout */
.tabuleiro {
	display: none;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	margin: 0 auto;
}

.div-linhas{
	width: 100%;	
}

.div-letras {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
	width: 90%;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
}

.modal {
	background-color: #d9edb9;;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: 2px outset #B6AF40;
	border-radius: 4px;
	height: 200px;
	max-width: 400px;
	margin: 0 auto;
	padding: 1.25em;
	position: relative;
	top: 30%;
}
